.about__box {
  border-radius: 12px;
  background: var(--gray);
  padding: 40px;
}

.about__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  color: var(--dark);
}

.about__info {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.about__left {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 189%;
  text-transform: lowercase;
  text-align: justify;
  color: var(--black);
}

.about__right img {
  border-radius: 12px;
  width: 500px;
  height: 350px;
}
